.landing-page {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #000000;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.landing-page .overlap {
  height: 766px;
  left: 53px;
  position: absolute;
  top: 3px;
  width: 667px;
}

.landing-page .text-wrapper {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 378px;
}

.landing-page .group {
  height: 719px;
  left: 0;
  position: absolute;
  top: 47px;
  width: 667px;
}

.landing-page .welcome-where-we-wrapper {
  height: 172px;
  left: 0;
  position: absolute;
  top: 547px;
  width: 574px;
}

.landing-page .welcome-where-we {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.landing-page .group-2 {
  height: 29px;
  left: 461px;
  position: absolute;
  top: 0;
  width: 210px;
}

.landing-page .overlap-group {
  height: 27px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 65px;
}

.landing-page .line {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 23px;
  width: 66px;
}

.landing-page .text-wrapper-2 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: -12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -13px;
}

.landing-page .text-wrapper-3 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 120px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -13px;
}

.landing-page .EAT-for-LIFE {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 90px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 290px;
  width: 532px;
}

.landing-page .img {
  height: 1133px;
  left: 737px;
  position: absolute;
  top: -98px;
  width: 781px;
}

.signup-page {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.signup-page .div {
  background-color: #000000;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.signup-page .overlap {
  height: 766px;
  left: 53px;
  position: absolute;
  top: 3px;
  width: 667px;
}

.signup-page .text-wrapper {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 378px;
}

.signup-page .group {
  height: 719px;
  left: 0;
  position: absolute;
  top: 47px;
  width: 667px;
}

.signup-page .Lets-get-start-wrapper{
  height: 172px;
  left: 60px;
  position: absolute;
  top: 100px;
  width: 574px;
}

.signup-page .Lets-get-start {
  color: #ffffff;
  font-family: "Monserrat-Bold", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.frame-input,
.sign-up-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-input {
  border: 1px solid var(--sub);
  background-color: transparent;
  border-radius: var(--br-9xs);
  box-shadow: 0 2px 2px 2px rgb(205, 205, 205);
  box-sizing: border-box;
  width: 545px;
  height: 84px;
  justify-content: center;
  padding: 0 var(--padding-base);
}
.sign-up-inner {
  position: absolute;
  top: 337px;
  left: 60px;
  width: 579px;
  height: 98px;
  justify-content: flex-start;
}
.email-address1 {
  font-size: 30px;
  position: absolute;
  top: 294px;
  left: 60px;
  line-height: 24px;
}

.password1 {
  font-size: 30px;
  position: relative;
  line-height: 24px;
}
.password-wrapper,
.sign-up-child {
  position: absolute;
  top: 504px;
  left: 60px;
  width: 495px;
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-child {
  border: 1px solid var(--white);
  background-color: transparent;
  top: 541px;
  border-radius: var(--br-9xs);
  box-shadow: 0 2px 2px 2px rgb(205, 205, 205);
  box-sizing: border-box;
  width: 546px;
  height: 83px;
  justify-content: center;
  padding: 0 var(--padding-base);
}
.sign-up2 {
  top: 7px;
  position: absolute;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-montserrat);
  color: #000000;
  text-align: left;
}
.sign-up-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) 0;
  background-color:  #ffffff;
  position: absolute;
  top: 707px;
  left: 158px;
  border-radius: var(--br-9xs);
  width: 400px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.sign-up-item {
  color: #ffffff;
  position: absolute;
  top: 803px;
  left: 152px;
  height: 24px;
}
.already-a-user1 {
  top: 796px;
  left: 223px;
  font-size: var(--font-size-base);
  line-height: 24px;
}
.already-a-user1,
.home,
.sign-in1 {
  position: absolute;
}
.sign-in1 {
  background-color: transparent;
  text-decoration: underline;
  top: 785px;
  left: 401px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 700;
  color: inherit;
}

.signup-page .group-2 {
  height: 29px;
  left: 461px;
  position: absolute;
  top: 0;
  width: 210px;
}

.signup-page .overlap-group {
  height: 27px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 65px;
}

.signup-page .line {
  height: 1px;
  left: 132px;
  position: absolute;
  top: 23px;
  width: 66px;
}

.signup-page .text-wrapper-2 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: -12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -13px;
}

.signup-page .text-wrapper-3 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 120px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -13px;
}

.signup-page .img {
  height: 1133px;
  left: 737px;
  position: absolute;
  top: -98px;
  width: 781px;
}

.signInAs-page {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.signInAs-page .div {
  background-color: #000000;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.signInAs-page .overlap {
  height: 766px;
  left: 53px;
  position: absolute;
  top: 3px;
  width: 667px;
}

.signInAs-page .text-wrapper {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 378px;
}

.signInAs-page .group {
  height: 719px;
  left: 0;
  position: absolute;
  top: 47px;
  width: 667px;
}

.signInAs-page .Sign-in-as-wrapper{
  height: 172px;
  left: 90px;
  position: absolute;
  top: 100px;
  width: 574px;
}

.signInAs-page .Sign-in-as {
  color: #ffffff;
  font-family: "Monserrat-Bold", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.customers {
  background-color: transparent;
  font-size: 30px;
  position: absolute;
  top: 294px;
  left: 60px;
  line-height: 24px;
}

.waiters {
  background-color: transparent;
  font-size: 30px;
  position: absolute;
  top: 394px;
  left: 60px;
  line-height: 24px;
}

.managers {
  background-color: transparent;
  font-size: 30px;
  position: absolute;
  top: 494px;
  left: 60px;
  line-height: 24px;
}

.signInAs-page .img {
  height: 1133px;
  left: 737px;
  position: absolute;
  top: -98px;
  width: 781px;
}

.signInAs-page .group-2 {
  height: 29px;
  left: 461px;
  position: absolute;
  top: 0;
  width: 210px;
}

.signInAs-page .overlap-group {
  height: 27px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 65px;
}

.signInAs-page .line {
  height: 1px;
  left: 132px;
  position: absolute;
  top: 23px;
  width: 66px;
}

.signInAs-page .text-wrapper-2 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: -12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -13px;
}

.signInAs-page .text-wrapper-3 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 142px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0px;
}

