.text-wrapper-2 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: -110px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -15px;
}

.landing-page .text-wrapper-2 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: -18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -15px;
}

.signup-page .text-wrapper-2 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: -18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -15px;
}

.text-wrapper-3 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 235px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -13px;
}

.text-wrapper-4 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  top: -13px;
  left: -12px;
  display: block; /* Add this line to make the button a block element */
}

.landing-page .text-wrapper-4 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  top: -13px;
  left: 90px;
  display: block; /* Add this line to make the button a block element */
}

.signup-page .text-wrapper-4 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 90px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -13px;
}

.cust-page .text-wrapper-4 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 90px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -13px;
}

.text-wrapper-5 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  top: -13px;
  left: 100px;
  display: block;
  white-space: nowrap; /* Add this line to prevent text wrapping */
}

.text-wrapper-6 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  top: -13px;
  left: -120px;
  display: block;
  white-space: nowrap; /* Add this line to prevent text wrapping */
}

.text-wrapper-7 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  top: -13px;
  left: -31px;
  display: block; /* Add this line to make the button a block element */
}

.text-wrapper-8 {
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  top: -12px;
  left: 100px;
  display: block;
  white-space: nowrap; /* Add this line to prevent text wrapping */
}

.landing-page {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #000000;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.landing-page .overlap {
  height: 766px;
  left: 53px;
  position: absolute;
  top: 3px;
  width: 667px;
}


.landing-page .text-wrapper {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 378px;
}

.landing-page .group {
  height: 719px;
  left: 0;
  position: absolute;
  top: 47px;
  width: 667px;
}

.landing-page .welcome-where-we-wrapper {
  height: 172px;
  left: 0;
  position: absolute;
  top: 547px;
  width: 574px;
}

.landing-page .welcome-where-we {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.group-2 {
  height: 29px;
  left: 461px;
  position: absolute;
  top: 0;
  width: 210px;
}

.landing-page .overlap-group {
  height: 27px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 65px;
}

.landing-page .line {
  height: 1px;
  left: -5px;
  position: absolute;
  top: 23px;
  width: 66px;
}

.landing-page .line3 {
  height: 1px;
  left: 115px;
  position: absolute;
  top: 23px;
  width: 66px;
}

.landing-page .line4 {
  height: 1px;
  left: 132px;
  position: absolute;
  top: 23px;
  width: 66px;
}

.landing-page .line5 {
  height: 1px;
  left:6px;
  position: absolute;
  top: 23px;
  width: 66px;
}

.landing-page .line6 {
  height: 1px;
  left: -106px;
  position: absolute;
  top: 23px;
  width: 66px;
}

.landing-page .EAT-for-LIFE {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 90px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 290px;
  width: 532px;
}

.landing-page .img {
  height: 1133px;
  left: 850px;
  position: absolute;
  top: -98px;
  width: 600px;
}

.signup-page {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.signup-page .div {
  background-color: #000000;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.signup-page .overlap {
  height: 766px;
  left: 53px;
  position: absolute;
  top: 3px;
  width: 667px;
}

.signup-page .text-wrapper {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 378px;
}

.signup-page .group {
  height: 719px;
  left: 0;
  position: absolute;
  top: 47px;
  width: 667px;
}

.signup-page .Lets-get-start-wrapper{
  height: 172px;
  left: 60px;
  position: absolute;
  top: 100px;
  width: 574px;
}

.signup-page .Lets-get-start {
  color: #ffffff;
  font-family: "Monserrat-Bold", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.frame-input,
.sign-up-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-input {
  border: 1px solid var(--sub);
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px rgb(205, 205, 205);
  box-sizing: border-box;
  width: 545px;
  height: 50px;
  justify-content: center;
  padding: 0 var(--padding-base);
  padding-left: 10px;
}
.sign-up-inner {
  position: absolute;
  top: 407px;
  left: 60px;
  width: 579px;
  height: 98px;
  justify-content: flex-start;
}
.emailaddress1 {
  font-size: 24px;
  position: absolute;
  top: 364px;
  left: 60px;
  line-height: 24px;
}

.password1 {
  font-size: 24px;
  position: relative;
  line-height: 24px;
}
.passwordwrapper,
.sign-up-child {
  position: absolute;
  top: 500px;
  left: 60px;
  width: 495px;
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-child {
  border: 1px solid var(--white);
  background-color: transparent;
  top: 540px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px rgb(205, 205, 205);
  box-sizing: border-box;
  width: 546px;
  height: 50px;
  justify-content: center;
  padding: 0 var(--padding-base);
  padding-left: 10px;
}

.password2 {
  font-size: 24px;
  position: relative;
  line-height: 24px;
  top: 0px;
}
.passwordwrapper2,
.sign-up-child2{
  position: absolute;
  top: 100px;
  left: 60px;
  width: 495px;
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-child2 {
  border: 1px solid var(--white);
  background-color: transparent;
  top: 690px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px rgb(205, 205, 205);
  box-sizing: border-box;
  width: 546px;
  height: 50px;
  justify-content: center;
  padding: 0 var(--padding-base);
  padding-left: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 750px; 
  margin-left: 60px;
}

.error-message1 {
  color: red;
  font-size: 14px;
  margin-top: 596px; 
  margin-left: 60px;
}

.error-message2 {
  color: red;
  font-size: 14px;
  margin-top: 600px; 
  margin-left: 95px;
}

.error-message3 {
  color: red;
  font-size: 14px;
  margin-top: 510px; 
  margin-left: 95px;
}

.full-rent-label {
  left: 25px; /* Adjust the margin as needed */
  margin-top: -489px;
  font-family: "Monserrat-Bold", Helvetica;
  font-size: 13px;
}

/* Style the checkbox */
#fullRent {
  margin-left: 5px; /* Adjust the margin as needed */
  vertical-align: middle;
  margin-top: 9px;
}

/* Optional: Add styles for the checked state */
#fullRent:checked {
  color: #007bff; /* Change the color when checked */
}

.sign-up2 {
  top: 7px;
  position: absolute;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-montserrat);
  color: #000000;
  text-align: left;
}
.sign-up-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) 0;
  border-radius: 50px;
  background-color:  #ffffff;
  position: absolute;
  top: 800px;
  left: 128px;
  width: 400px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.sign-up-item {
  color: #ffffff;
  position: absolute;
  top: 803px;
  left: 152px;
  height: 24px;
}
.already-a-user1 {
  top: 870px;
  left: 183px;
  font-size: var(--font-size-base);
  line-height: 24px;
}
.already-a-user1,
.home,
.sign-in1 {
  position: absolute;
}
.sign-in1 {
  background-color: transparent;
  text-decoration: underline;
  top: 858px;
  left: 371px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 700;
  color: inherit;
}

.group-2 {
  height: 29px;
  left: 461px;
  position: absolute;
  top: 0;
  width: 210px;
}

.signup-page .overlap-group {
  height: 27px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 65px;
}

.signup-page .line {
  height: 1px;
  left: 246px;
  position: absolute;
  top: 23px;
  width: 66px;
}

.signup-page .img {
  height: 1133px;
  left: 850px;
  position: absolute;
  top: -98px;
  width: 600px;
}

.frame-input,
.Name-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-input-name {
  border: 1px solid var(--sub);
  background-color: transparent;
  border-radius: var(--br-9xs);
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px rgb(205, 205, 205);
  box-sizing: border-box;
  width: 545px;
  height: 50px;
  justify-content: center;
  padding: 0 var(--padding-base);
  padding-left: 10px;
}
.Name-inner {
  position: absolute;
  top: 267px;
  left: 60px;
  width: 579px;
  height: 98px;
  justify-content: flex-start;
}

.Name {
  font-size: 24px;
  position: absolute;
  top: 224px;
  left: 60px;
  line-height: 24px;
}

.frame-input,
.sign-in-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-input2 {
  border: 1px solid var(--sub);
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px rgb(205, 205, 205);
  box-sizing: border-box;
  width: 545px;
  height: 60px;
  justify-content: center;
  padding: 0 var(--padding-base);
  padding-left: 10px;
}
.sign-in-inner {
  position: absolute;
  top: 297px;
  left: 60px;
  width: 579px;
  height: 98px;
  justify-content: flex-start;
}
.email-address2 {
  font-size: 24px;
  position: absolute;
  top: 254px;
  left: 60px;
  line-height: 24px;
}

.password3{
  font-size: 24px;
  position: relative;
  line-height: 24px;
  top: 550px;
}
.password-wrapper2,
.sign-in-child {
  position: absolute;
  top: 424px;
  left: 60px;
  width: 495px;
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-in-child {
  border: 1px solid var(--white);
  background-color: transparent;
  top: 465px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px rgb(205, 205, 205);
  box-sizing: border-box;
  width: 546px;
  height: 60px;
  justify-content: center;
  padding: 0 var(--padding-base);
  padding-left: 10px;
}

label {
  position: absolute;
  top: 545px;
  right: 65px;
  transform: translateY(-50%);
  cursor: pointer;
}
.sign-in2 {
  background-color: transparent;
  top: 7px;
  position: absolute;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-montserrat);
  color: #000000;
  text-align: left;
}
.sign-in-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) 0;
  background-color:  #ffffff;
  position: absolute;
  top: 597px;
  left: 128px;
  border-radius: 50px;
  width: 400px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.landing-page .About1 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 130px;
  width: 532px;
}

.landing-page .A1-wrapper {
  height: 172px;
  left: 40px;
  position: absolute;
  top: 160px;
  width: 574px;
}

.landing-page .A1 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.landing-page .About2 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 330px;
  width: 532px;
}

.landing-page .A2-wrapper {
  height: 172px;
  left: 40px;
  position: absolute;
  top: 360px;
  width: 574px;
}

.landing-page .A2 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.landing-page .About3 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 530px;
  width: 532px;
}

.landing-page .A3-wrapper {
  height: 172px;
  left: 40px;
  position: absolute;
  top: 560px;
  width: 574px;
}

.landing-page .A3 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.landing-page .About4 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 730px;
  width: 532px;
}

.landing-page .A4-wrapper {
  height: 172px;
  left: 40px;
  position: absolute;
  top: 760px;
  width: 574px;
}

.landing-page .A4 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.landing-page .Contact1 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 130px;
  width: 532px;
}

.landing-page .C1-wrapper {
  height: 172px;
  left: 40px;
  position: absolute;
  top: 160px;
  width: 574px;
}

.landing-page .C1 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.landing-page .Contact2 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 330px;
  width: 532px;
}

.landing-page .C2-wrapper {
  height: 172px;
  left: 40px;
  position: absolute;
  top: 360px;
  width: 574px;
}

.landing-page .C2 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.landing-page .Contact3 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 550px;
  width: 532px;
}

.landing-page .C3-wrapper {
  height: 172px;
  left: 40px;
  position: absolute;
  top: 580px;
  width: 574px;
}

.landing-page .C3 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

.landing-page .Contact4 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 730px;
  width: 532px;
}

.landing-page .C4-wrapper {
  height: 172px;
  left: 40px;
  position: absolute;
  top: 760px;
  width: 574px;
}

.landing-page .C4 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 572px;
}

/* Add this CSS to your existing stylesheet or create a new one */

.success-popup {
  position: fixed;
  top: 350px;
  left: 750px;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.success-popup p {
  margin-bottom: 10px;
}

.success-popup button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.success-popup button:hover {
  background-color: #ff0000;
}

.Cust-home {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 160px;
  width: 532px;
}

.frame-input,
.person-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.person-input {
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  width: 195px;
  height: 40px;
  justify-content: center;
  padding: 0 var(--padding-base);
  padding-left: 10px;
}

.person-inner {
  position: absolute;
  top: 450px;
  left: 95px;
  width: 579px;
  height: 98px;
  justify-content: flex-start;
}

.frame-input,
.date-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.date-input {
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  justify-content: center;
  padding: 0 var(--padding-base);
  padding-left: 10px;
}

.date-inner {
  position: absolute;
  top: 450px;
  left: 450px;
  width: 579px;
  height: 98px;
  justify-content: flex-start;
}

.frame-input,
.time-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.time-input {
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  width: 195px;
  height: 40px;
  justify-content: center;
  padding: 0 var(--padding-base);
  padding-left: 10px;
}

.time-inner {
  position: absolute;
  top: 550px;
  left: 95px;
  width: 579px;
  height: 98px;
  justify-content: flex-start;
}

.frame-input,
.table-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.table-input {
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  justify-content: center;
  padding: 0 var(--padding-base);
  padding-left: 10px;
}

.table-inner {
  position: absolute;
  top: 550px;
  left: 450px;
  width: 579px;
  height: 98px;
  justify-content: flex-start;
}

.table-input option {
  background-color: #333; /* Background color */
  color: #ffffff; /* Text color */
}

.donthaveaccount {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 150px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  bottom: -45px;
  white-space: nowrap;
  width: 378px;
}


.sign-up1 {
  position: absolute;
}
.sign-up1 {
  background-color: transparent;
  text-decoration: underline;
  top: 680px;
  left: 400px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 700;
  color: inherit;
}

.BOOKNOW {
  position: absolute;
}
.BOOKNOW {
  background-color: #4d0000;
  border-color: #ffffff;
  border-radius: 10px;
  top: 658px;
  left: 306px;
  font-size: var(--font-size-base);
  font-weight: 700;
  color: inherit;
}

/* Add this CSS to your existing stylesheet or create a new one */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(800px) rotateX(90deg) scale(0);
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 9999;
  animation: flipIn 0.6s forwards;
}

@keyframes flipIn {
  0% {
    transform: translate(-50%, -50%) perspective(800px) rotateX(90deg) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) perspective(800px) rotateX(0deg) scale(1);
  }
}

.popup p {
  margin-bottom: 10px;
}

.popup button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.popup button:hover {
  background-color: #ff0000;
}


.your-bookings {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 26px;
  font-weight: 600;
  left: 240px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 150PX;
  white-space: nowrap;
  width: 378px;
}

.line7 {
  height: 1px;
  left:-335px;
  position: absolute;
  top: 200px;
  width: 450px;
}

.ongoing-name {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: -280px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 165PX;
  white-space: nowrap;
  width: 378px;
}
.ongoing-email {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: -140px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 165PX;
  white-space: nowrap;
  width: 378px;
}

.line8 {
  height: 1px;
  left:-335px;
  position: absolute;
  top: 250px;
  width: 450px;
}

.date-ongoing {
  position: absolute;
  top: 280px;
  left: -300px;
}

.table-ongoing {
  position: absolute;
  top: 320px;
  left: -300px;
}

.person-ongoing {
  position: absolute;
  top: 280px;
  left: -50px;
}



.line9 {
  height: 1px;
  left:-335px;
  position: absolute;
  top: 400px;
  width: 450px;
}

.line10 {
  height: 1px;
  left:-335px;
  position: absolute;
  top: 450px;
  width: 450px;
}

.ongoing-status {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 26px;
  font-weight: 600;
  left: -190px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 367PX;
  white-space: nowrap;
  width: 378px;
}

.status-message {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: -295px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 440PX;
  white-space: nowrap;
  width: 378px;
}

.date-message {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: -260px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 230PX;
  white-space: nowrap;
  width: 378px;
}

.table-message {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: -260px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 273PX;
  white-space: nowrap;
  width: 378px;
}

.person-message {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: -10px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  top: 230PX;
  white-space: nowrap;
  width: 378px;
}
 .img1 {
  height: 1133px;
  left: 850px;
  position: absolute;
  top: -98px;
  width: 600px;
}

.img2 {
  height: 1133px;
  left: 850px;
  position: absolute;
  top: -98px;
  width: 600px;
}

.img3 {
  height: 1133px;
  left: 850px;
  position: absolute;
  top: -98px;
  width: 600px;
}

.img4 {
  height: 1133px;
  left: 850px;
  position: absolute;
  top: -98px;
  width: 600px;
}

.img5 {
  height: 1133px;
  left: 850px;
  position: absolute;
  top: -98px;
  width: 600px;
}
.img6 {
  height: 1133px;
  left: 850px;
  position: absolute;
  top: -98px;
  width: 600px;
}

.waiter-window {
  background-color: #ffffff;
  height: 946px;
  position: relative;
  width: 1250px;
}

.waiter-window .overlap {
  border-radius: 10px;
  height: 48px;
  left: 16px;
  position: absolute;
  top: 107px;
  width: 50px;
}

.waiter-window .rectangle {
  background-color: #5e5e5e;
  border-radius: 10px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.waiter-window .icon-park-table {
  height: 30px !important;
  left: 9px !important;
  position: absolute !important;
  top: 9px !important;
  width: 30px !important;
}

.waiter-window .power-off {
  height: 30px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 245px;
  width: 30px;
}

.waiter-window .line {
  height: 1px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 225px;
  width: 44px;
}

.waiter-window .ic-sharp-table {
  height: 30px;
  left: 24px;
  position: absolute;
  top: 175px;
  width: 30px;
}

.waiter-window .overlap-group {
  height: 339px;
  left: 117px;
  position: absolute;
  top: 160px;
  width: 1077px;
}

.waiter-window .stable-table-row {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  gap: 20px;
  height: 40px;
  left: 1px;
  padding: 0px 20px;
  position: absolute;
  top: 0;
  width: 1076px;
}

.waiter-window .checkbox {
  background-color: #ffffff;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(199.89, 199.89, 199.89),
      rgb(150.96, 150.96, 150.96)
    )
    1;
  border-radius: 3px;
  box-shadow: inset 0px 1px 2px #00000033;
  height: 14px;
  position: relative;
  width: 14px;
}

.waiter-window .stable-table-grid {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.waiter-window .stable-table-cell {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 135px;
}

.waiter-window .text-wrapper {
  align-self: stretch;
  color: #0f1419;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  position: relative;
}

.waiter-window .text-wrapper-20 {
  align-self: stretch;
  color: #0f1419;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: 20px;
  position: relative;
  left: -55px;
}

.waiter-window .text-wrapper-41 {
  align-self: stretch;
  color: #0f1419;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: 20px;
  position: relative;
  left: 10px;
}


.waiter-window .div-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 128px;
}

.waiter-window .div {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 100px;
}

.waiter-window .stable-table-cell-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.waiter-window .stable-table-row-2 {
  align-items: center;
  background-color: #fff9f1;
  border: 1px solid;
  border-color: #ffe2c0;
  display: flex;
  gap: 20px;
  height: 62px;
  left: 0;
  padding: 0px 20px;
  position: absolute;
  top: 39px;
  width: 1076px;
}

.waiter-window .checkbox-2 {
  background-color: #0b0b0a;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(199.89, 199.89, 199.89),
      rgb(150.96, 150.96, 150.96)
    )
    1;
  border-radius: 3px;
  box-shadow: inset 0px 1px 2px #00000033;
  height: 14px;
  position: relative;
  width: 14px;
}

.waiter-window .text-wrapper-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #333333;
  display: -webkit-box;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 20px;
  left: -20px;
}

.waiter-window .text-wrapper-43 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #333333;
  display: -webkit-box;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 20px;
  left: -7px;
}

.waiter-window .text-wrapper-23 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #333333;
  display: -webkit-box;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 20px;
  left: 20px;
}

.waiter-window .text-wrapper-26 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #333333;
  display: -webkit-box;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 20px;
  left: 27px;
}

.waiter-window .text-wrapper-30 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #333333;
  display: -webkit-box;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 20px;
  left: 0px;
}

.waiter-window .text-wrapper-40 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #333333;
  display: -webkit-box;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 20px;
  left: 0px;
}

.waiter-window .stable-table-cell-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 130px;
}

.waiter-window .stable-table-cell-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 101px;
}

.waiter-window .text-wrapper-3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #333333;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  left: -10px;
  top: 18px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  width: 172px;
}

.waiter-window .text-wrapper-42 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #000000;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  left: 20px;
  top: 20px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  width: 172px;
}

.waiter-window .stable-table-cell-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 146px;
}

.waiter-window .stable-table-cell-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 141px; 
}

.waiter-window .text-wrapper-4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #141413;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 76px;
}

.waiter-window .group {
  height: 40px;
  margin-right: -17.27px;
  position: relative;
  width: 72.27px;
}

.waiter-window .overlap-group-2 {
  background-color: var(--primary);
  border-radius: 4px;
  height: 40px;
  position: relative;
  width: 70px;
  left: 50px;
}

.waiter-window .text-wrapper-5 {
  color: var(--white);
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 70px;
}

.waiter-window .stable-table-row-3 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffe2c0;
  display: flex;
  gap: 20px;
  height: 62px;
  left: 0;
  padding: 0px 20px;
  position: absolute;
  top: 159px;
  width: 1076px;
}

.waiter-window .checkbox-3 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--secondary);
  border-radius: 3px;
  height: 14px;
  position: relative;
  width: 14px;
}

.waiter-window .stable-table-cell-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 131px;
}

.waiter-window .text-wrapper-6 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: var(--secondary);
  display: -webkit-box;
  flex: 1;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.waiter-window .element-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 134px;
}

.waiter-window .stable-table-cell-8 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 102px;
}

.waiter-window .stable-table-cell-9 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 145px;
}

.waiter-window .stable-table-cell-10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 149px;
}

.waiter-window .stable-table-cell-11 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: 138px;
}

.waiter-window .text-wrapper-7 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #6cc824;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 76px;
}

.waiter-window .stable-table-row-4 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffe2c0;
  display: flex;
  gap: 20px;
  height: 62px;
  left: 0;
  padding: 0px 20px;
  position: absolute;
  top: 99px;
  width: 1076px;
}

.waiter-window .text-wrapper-8 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #24bec8;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 76px;
}

.waiter-window .stable-table-row-5 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffe2c0;
  display: flex;
  gap: 20px;
  height: 62px;
  left: 0;
  padding: 0px 20px;
  position: absolute;
  top: 219px;
  width: 1076px;
}

.waiter-window .text-wrapper-9 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #f22104;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 76px;
}

.waiter-window .stable-table-row-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffe2c0;
  display: flex;
  gap: 20px;
  height: 62px;
  left: 0;
  padding: 0px 20px;
  position: absolute;
  top: 277px;
  width: 1076px;
}

.waiter-window .checkbox-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #c4c4c4;
  border-radius: 3px;
  height: 14px;
  position: relative;
  width: 14px;
}

.waiter-window .text-wrapper-10 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #0f1419;
  display: -webkit-box;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 76px;
}

.waiter-window .overlap-wrapper {
  height: 40px;
  left: 1039px;
  position: absolute;
  top: 885px;
  width: 128px;
}

.waiter-window .overlap-2 {
  background-color: #f22104;
  border-radius: 4px;
  height: 40px;
  position: fixed;
  width: 126px;
  top: 638px;
}

.waiter-window .text-wrapper-11 {
  color: #ffffff;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 126px;
}

.waiter-window .overlap-group-wrapper {
  height: 40px;
  left: 861px;
  position: absolute;
  top: 885px;
  width: 152px;
}

.waiter-window .assign-reserve-wrapper {
  background-color: #6cc824;
  border-radius: 4px;
  height: 40px;
  position: fixed;
  width: 150px;
  top: 638px;
}

.waiter-window .assign-reserve {
  color: var(--white);
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 150px;
}

.waiter-window .img {
  height: 1px;
  left: 101px;
  object-fit: cover;
  position: absolute;
  top: 872px;
  width: 1064px;
}

.waiter-window .text-wrapper-12 {
  color: #000000;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 120px;
  letter-spacing: 0;
  line-height: 24px;
  position: fixed;
  text-align: center;
  top: 650px;
  white-space: nowrap;
}

.waiter-window .group-2 {
  height: 46px;
  left: 763px;
  position: absolute;
  top: 58px;
  width: 269px;
}

.waiter-window .overlap-3 {
  height: 46px;
  position: fixed;
  width: 267px;
}

.waiter-window .overlap-4 {
  height: 46px;
  left: 0;
  position: fixed;
  top: 0;
  width: 267px;
}

.waiter-window .rectangle-2 {
  background-color: #ffffff;
  border: 2px dashed;
  border-color: #dfdfdf;
  border-radius: 5px;
  height: 203px;
  left: 1120px;
  position: fixed;
  top: -20px;
  transform: rotate(90deg);
  width: 35px;
}

.waiter-window .ri-search-line-instance {
  height: 20px !important;
  left: 232px !important;
  position: fixed !important;
  top: 12px !important;
  width: 20px !important;
}

.waiter-window .text-wrapper-13 {
  color: #000000;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  left: 925px;
  letter-spacing: 0;
  line-height: 12px;
  position: fixed;
  top: 65px;
  white-space: nowrap;
  background-color: #dfdfdf;
  border-radius: 15px;
  background-color: var(--primary-color);
  padding-left: 10px;
  display: inline-block;
}

.waiter-window .rectangle-3 {
  background-color: #5e5e5e;
  height: 40px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1250px;
}

.waiter-window .warong-warem {
  color: transparent;
  font-family: "Kanit-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 14px;
  letter-spacing: 0;
  line-height: 32px;
  position: fixed;
  top: -28px;
  white-space: nowrap;
}

.waiter-window .span {
  color: #0c0c0c;
}

.waiter-window .text-wrapper-14 {
  color: #ffffff;
}

.waiter-window .group-3 {
  height: 40px;
  left: 1270px;
  position: fixed;
  top: 62px;
  width: 128px;
}

.waiter-window .overlap-5 {
  background-color: #060605;
  border-radius: 4px;
  height: 40px;
  position: relative;
  width: 80px;
  left: -150px;
}

.waiter-window .text-wrapper-15 {
  color: #000000;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 20px;
  left: 116px;
  letter-spacing: 0;
  line-height: 20px;
  position: fixed;
  text-align: center;
  top: 71px;
  white-space: nowrap;
}

.waiter-window .frame {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #dfdfdf;
  border-radius: 5px;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  left: 251px;
  padding: 10px 16px;
  position: fixed;
  top: 59px;
}

.waiter-window .icon-instance-node {
  height: 25px !important;
  position: relative !important;
  width: 25px !important;
}

.waiter-window .text-wrapper-16 {
  color: #000000;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.waiter-window .mdi-chevron-down {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.waiter-window .frame-2 {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #dfdfdf;
  border-radius: 5px;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  left: 470px;
  padding: 10px 16px;
  position: fixed;
  top: 59px;
}

.waiter-window .frame-3 {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #dfdfdf;
  border-radius: 5px;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  left: 650px;
  padding: 10px 16px;
  position: fixed;
  top: 60px;
}

.waiter-window .text-wrapper-17 {
  color: #000000;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.waiter-window .text-wrapper-18 {
  color: #ffffff;
  font-family: "Kanit-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 2000px;
  letter-spacing: 0;
  line-height: 32px;
  position: fixed;
  top: 3px;
  white-space: nowrap;
}



.waiter-window .dateinputwaiter {
  background-color: #ffffff;
}

.waiter-window .notes{
  top: 220px;
  position: absolute;
  left: 225px;
  width:16px;
  z-index: 2;
}

.waiter-window .logoutwaiter-btn {
  background-color: #ff0000;
  top: 50px;
  position: absolute;
  left: 1150px;
  width: 68px;
  height: 50px;
}

.waiter-window .Logoutwaiter {
  width: 30px;
  height: 30px;
  left: 18px;
  position: absolute;
  top: 10px;
}

.notes-popup {
  display: none;
  position: absolute;
  top: 100px;
  left: 100px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.notes-popup input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.notes-popup button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.waiter-window .tablewaiter-btn {
  background-color: #ff0000;
  top: 50px;
  position: relative;
  left: 1000px;
}

.waiter-window .mainwaiter-btn {
  background-color: #ff0000;
  top: 50px;
  position: relative;
  left: 800px;
}

.waiter-window .accept-btn {
  background-color: #ff0000;
  top: 210px;
  position: relative;
  left: 800px;
  z-index: 2;
}

.waiter-window .rejection-btn {
  background-color: #ff0000;
  top: 210px;
  position: relative;
  left: 820px;
  z-index: 2;
}

.waiter-window .tablewaiter-btn2 {
  background-color: #5e5e5e;
  top: 200px;
  position: fixed;
  left: 15px;
}

.waiter-window .mainwaiter-btn2 {
  background-color: #ffffff;
  top: 130px;
  position: fixed;
  left: 15px;
}